

body {
  margin: 0;
  color: rgb(249, 247, 247);
  text-align: center;
  background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.freevector.com%2Fuploads%2Fvector%2Fpreview%2F12939%2FFreeVector-Travel-Background.jpg&f=1&nofb=1&ipt=9608181eebf0782a8be6d5f48954500e9114bea90dd489cda7f6e71c5593e706&ipo=images);
  background-size: cover;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  width: 100vw;
  height: 30vh;
}

header {
  background-color: #141265;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 3em;
}

header nav a {
  margin: 0 1em;
  color: beige;
}

.listing-wrapper {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
padding: 5px;
margin: 5px;
}

img {
  height: 300px;
  width: 300px;
}



a:hover {
  background-color: rgb(179, 153, 244);
  transition: 0.9s;
}

#edit {
  background-color: yellow;
}

#delete {
  background-color: red;
}

#addComment {
  background-color: rgb(215, 193, 151);
}

.about {
text-align: left;  
font-size: 15px;

}

#commentPic {
  height: 100px;
  width: 100px;
  margin: 10px;
}

#picDescription {
  font-size: 50;
}