body {
  margin: 0;
  color: white;
  text-align: center;
  background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages.designtrends.com%2Fwp-content%2Fuploads%2F2016%2F04%2F04070921%2FTravel-Wallpaper-Background.png&f=1&nofb=1&ipt=4aa71314a7352d70421e42f94377e39c7a11f28c20e6a951518fb717e2b59df7&ipo=images);
  background-size: cover;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  width: 100vw;
  height: 30vh;
}

header {
  background-color: #6c6ae4;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 3em;
}

header nav a {
  margin: 0 1em;
  color: beige;
}

.listing-wrapper {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
padding: 5px;
margin: 5px;
}

img {
  height: 200px;
  width: 200px;
}