body {
  margin: 0;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  width: 100vw;
  height: 30vh;
}

header {
  background-color: #6c6ae4;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 3em;
}

header nav a {
  margin: 0 1em;
}

.listing-wrapper {
display: flex;
justify-content: center;
text-align: center;
padding: 5px;
margin: 5px;
}

img {
  height: 200px;
  width: 200px;
}