body {
  margin: 0;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  width: 100vw;
  height: 30vh;
}

header {
  background-color: #8d6161;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 3em;
}

header nav a {
  margin: 0 1em;
}